@media (max-width:801px) {
    .container {
        height: 1124px;
        padding: 32px 24px;
    }
    
    
    .mainSection {
        display: flex;
        flex-direction: column;
        width: 720px;
        justify-content: center;
        align-items: center;
        padding: 40px 16px;
        
    }

    .formSection {
        margin-bottom: 64px;
        width: 720px;
    }

    iframe {
        width: 100%;
    }

    .mapSection {
        width: 100%;
    }

}